* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 2rem;
	font-family: sans-serif;
	background-color: #050505;
	color: #FFFFFF;
}

.main-container {
	display: flex;
	flex-direction: row;
}

.heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem;
}

.image-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	justify-content: center;
	margin: 1rem;
}

h1 {
	font-size: 2rem;
	text-align: center;
	text-transform: capitalize;
}

.right-side {
	background-color: #FFFFFF;
	color: #050505;
}

.preview {
	font-size: 0.2rem;
	margin: 1rem;
}
