* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: #050505;
	color: #FFFFFF;
}

button {

	display: inline-block;
	outline: none;
	cursor: pointer;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	padding: 2px 16px;
	height: 38px;
	min-width: 96px;
	min-height: 38px;
	border: none;
	color: #fff;
	background-color: rgb(88, 101, 242);
	transition: background-color .17s ease, color .17s ease;

	:hover {
		background-color: rgb(71, 82, 196);
	}

}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}

.status-bar {
	font-size: 2rem;
	text-align: center;
}

.image-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	justify-content: center;
	margin: 1rem;
}

.options {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

.preview {
	font-size: 0.18rem;
	margin: 1rem;
}
