<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Picture.txt</title>
	<link href="static/style.css" rel="stylesheet">
</head>

<body>
	<div class="main-container">
		<div class="hero">
			<div class="heading">
				<h1>Picture.txt</h1>
				<h3>Generate ASCII art from any picture</h3>
				<p>The following image formats are supported: PNG, JPG, JPEG, WEBP</p>
			</div>
			<form id="uploadForm">
				<div class="image-form">
					<input type="file" id="fileInput" name="file">
					<div class="options">
						<div class="char-select">
							<label for="charSetSelect">Choose a Character Set:</label>
							<select id="charSetSelect" name="charSet">
								<option value="basic">Basic</option>
								<option value="detailed">Detailed</option>
								<option value="block">Blocks</option>
								<option value="smooth">Smooth</option>
								<option value="geometric">Geometric</option>
							</select>
						</div>
						<div class="color-toggle">
							<label for="addColor">
								Colored output (Experimental, slow) <input type="checkbox" id="addColor"
									name="addColor">
							</label>
						</div>
					</div>
					<button type="submit">Generate</button>
				</div>
			</form>
			<div class="status-bar" id="status-bar"></div>
		</div>
		<div class="display">
			<pre id="asciiOutput" class="preview"></pre>
		</div>
		<div class="footer">
			<p>Built by Franklin</p>
			<p>Twitter: <a href="https://x.com/builtbyfranklin">@builtbyfranklin</a></p>
		</div>
	</div>
	<script src="/static/main.js"></script>
</body>

</html>
