<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Picture.txt</title>
	<link href="static/style.css" rel="stylesheet">
</head>

<body>
	<div class="main-container">
		<div class="hero">
			<div class="heading">
				<h1>Picture.txt</h1>
				<h3>Generate ASCII art from any picture</h3>
				<p>The following image formats are supported: PNG, JPG, JPEG, WEBP</p>
			</div>
			<form id="uploadForm">
				<div class="image-form">
					<input type="file" id="fileInput" name="file">
					<div class="options">
						<label for="charSetSelect">Choose a Character Set:</label>
						<select id="charSetSelect" name="charSet">
							<option value="basic">Basic ASCII</option>
							<option value="standard">Standard ASCII</option>
							<option value="extended">Extended ASCII</option>
							<option value="block">Blocks</option>
						</select>
					</div>
					<button type="submit">Generate</button>
				</div>
			</form>
			<div class="status-bar" id="status-bar"></div>
		</div>
		<div class="display">
			<pre id="asciiOutput" class="preview"></pre>
		</div>
	</div>
	<script src="/static/main.js"></script>
</body>

</html>
