<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Image 2 ASCII art</title>
	<link href="static/style.css" rel="stylesheet">
</head>

<body>
	<div class="main-container">
		<div class="controls">
			<div class="heading">
				<h1>ASCII Art Generator</h1>
				<h3>Generate ASCII art from any picture</h3>
				<p>The following image formats are supported: PNG, JPG, JPEG, WEBP</p>
			</div>
			<form id="uploadForm">
				<div class="image-form">
					<input type="file" id="fileInput" name="file">
					<button type="submit">Generate</button>
				</div>
			</form>
		</div>
		<div class="display">
			<pre id="asciiOutput" class="preview"></pre>
		</div>
	</div>
	<script src="/static/main.js"></script>
</body>

</html>
